{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>FB Feeder</title>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.xml2json.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bart.js" %}"></script>
    <script type="text/javascript" src="{% static "js/imgur.js" %}"></script>
    <script type="text/javascript" src="{% static "js/npr.js" %}"></script>

</head>
<body>
<script>
    // This is called with the results from from FB.getLoginStatus().
    var acctok = "";
    var uid = "";
    var mypage = "smellslikecheetos";
    var pageID = "824097974301332";
    function statusChangeCallback(response) {
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            acctok = response.authResponse.accessToken;
            uid = response.authResponse.userID;
            startPage();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1473533486253770',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.1' // use version 2.1
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function startPage() {
        FB.api('/me', function (response) {
            document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
        });
    }
    //post message to FB
    $(document).ready(function () {
        $('#fb_posttowall').on('click', function () {
            FB.api('/smellslikecheetos/feed', 'post', {'access_token': acctok, 'message': "cliiiick!"}, function (response) {
                console.log(response);
            });
        });
    });
    //Post imgur posts to FB
    $(document).ready(function () {
        $('#imgur_post').on('click', function () {
            for (var i = 0; i < 5; i++) {
                FB.api(
                        "/smellslikecheetos/photos",
                        "POST", { "url": imgur_json.data[i].link, "message": imgur_json.data[i].title },
                        function (response) {
                            if (response && !response.error) {
                                console.log(response);
                            }
                            else {
                                console.log(response);
                            }
                        }
                );
            }
        });
    });
    //Post NPR News to FB
    $(document).ready(function () {
        $('#NPR_post').on('click', function () {
            for (var i = 0; i < 5; i++) {
                FB.api(
                        "/smellslikecheetos/feed",
                        "POST", { 'access_token': acctok, "url": npr_json.list.story[i].image[i].src,
                            "link": npr_json.list.story[i].link[i].$text },
                        function (response) {
                            if (response && !response.error) {
                                console.log(response);
                            }
                            else {
                                console.log(response);
                            }
                        }
                );
            }
        });
    });
    //Post Bart Info to FB
    $(document).ready(function () {
        $('#Bart_post').on('click', function () {
            var bart_info = "Bart info: " + json_advisory.date + " " + json_advisory.time + " " + json_advisory.bsa.description;
            FB.api(
                    "/smellslikecheetos/feed",
                    "POST", { 'access_token': acctok, "message": bart_info },
                    function (response) {
                        if (response && !response.error) {
                            console.log(response);
                        }
                        else {
                            console.log(response);
                        }
                    }
            );
        });
    });
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email,publish_actions" data-auto-logout-link="true" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div>

<button id="fb_posttowall">Post message</button>
<button id="Bart_post">Post Bart</button>
<button id="imgur_post">Post Imgur</button>
<button id="NPR_post">Post NPR</button>


<div id="bart_status"></div>
<div id="npr_posts"></div>

</body>
</html>